global:
  cloud: others
  clusterName: {{ cluster_name }}
  deploymentEnvironment: {{ deployment_env }}

otelCollectorEndpoint: "{{ signoz_upstream_endpoint }}"
otelInsecure: {{ signoz_upstream_insecure | default(false) }}

presets:
  otlpExporter: { enabled: true }
  hostMetrics: { enabled: true }
  kubeletMetrics: { enabled: true }
  clusterMetrics: { enabled: true }
  kubernetesAttributes: { enabled: true }
  k8sEvents: { enabled: true }
  logsCollection:
    enabled: true
    blacklist:
      enabled: true
      namespaces: [kube-system]
